<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reservations</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/reservation.css">
</head>
<body>
	<table class="occupation_table">
		<thead>
			<tr>
				<th>Zeit</th>
				<th th:each="court : ${courts}">Platz <span th:text="${court}" /></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row : ${table}">
				<td th:each="cell: *{row}" th:rowspan="*{cell.rowspan}"
					th:colspan="*{cell.colspan}" th:utext="*{cell.content}"
					th:class="*{cell.cssClass}">cell content</td>
			</tr>
		</tbody>
	</table>
</body>
</html>